{% block sw_cms_block_designer_description %}
    <div class="sw-cms-block-designer-description">
        <slot name="content">{% block sw_cms_block_designer_description_slot_content %}{% endblock %}</slot>
    </div>
{% endblock %}