{% block sw_cms_block_designer_button_preview %}
    <div class="sw-cms-preview-designer-button">
        <a href="#" class="sw-cms-preview-designer-button__action">Jetzt gestalten</a>
    </div>
{% endblock %}