{% block sw_cms_block_designer_preview %}
    <div class="sw-cms-preview-designer">
        <img :src="'shirtnetworkplugin/static/img/background_designer_preview.png' | asset">
    </div>
{% endblock %}