{% block sw_cms_block_designer_button %}
    <div class="sw-cms-block-designer-button">
        <slot name="content">{% block sw_cms_block_designer_button_slot_content %}{% endblock %}</slot>
    </div>
{% endblock %}