{% block sw_cms_element_designer_description_preview %}
    <div class="sw-cms-el-preview-designer-description">
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr ...</p>
    </div>
{% endblock %}