{% block element_designer_button %}
    {% set product = element.data.product %}
    <div class="cms-element-designer-button">
        {% block element_designer_button_inner %}
            <a href="{{ product.extensions.shirtnetwork.url }}" class="btn btn-designer btn-primary {{ element.config.buttonClass.value }}">
                {{ element.config.label.value }}
            </a>
        {% endblock %}
    </div>
{% endblock %}