{% block shirtnetwork_sync_list %}
    <sw-page class="shirtnetwork-sync-list">

        {% block shirtnetwork_sync_list_smart_bar_header %}
            <template #smart-bar-header>
                {% block shirtnetwork_sync_list_smart_bar_header_title %}
                    <h2>
                        {% block shirtnetwork_sync_list_smart_bar_header_title_text %}
                            {{ $tc('shirtnetwork-sync.list.textProducts') }}
                        {% endblock %}

                        {% block shirtnetwork_sync_list_smart_bar_header_amount %}
                            <span v-if="!isLoading" class="sw-page__smart-bar-amount">
                                ({{ totalProducts }})
                            </span>
                        {% endblock %}

                    </h2>
                {% endblock %}
            </template>
        {% endblock %}

        {% block shirtnetwork_sync_list_smart_bar_actions %}
            <template #smart-bar-actions>
                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block shirtnetwork_sync_list_smart_bar_actions_saleschannel_switch %}
                    <sw-entity-single-select
                            :placeholder="$tc('shirtnetwork-sync.list.chooseSalesChannel')"
                            :value="salesChannelId"
                            entity="sales_channel"
                            @update:value="salesChannelChange"
                            style="margin-bottom: 0;"
                    >
                        <template #labelProperty="{item, labelProperty}">
                            <span v-if="item.translated">{{ item.translated[labelProperty] }}</span>
                        </template>
                    </sw-entity-single-select>
                {% endblock %}
            </template>
        {% endblock %}

        <template #content>
            {% block shirtnetwork_sync_list_content %}
                <div class="shirtnetwork-sync-list__content">
                    {% block shirtnetwork_sync_list_grid %}
                    <sw-data-grid ref="shirtnetworkSyncListGrid"
                                  :dataSource="products"
                                  :columns="gridColumns"
                                  :fullPage="false"
                                  :showSettings="false"
                                  :showSelection="true"
                                  :showActions="false"
                                  :isLoading="isLoading"
                                  :allowColumnEdit="false"
                                  :allowInlineEdit="false"
                                  :compactMode="true"
                                  @selection-change="selectionChange"
                                  identifier="shirtnetwork-sync-list-item-grid"
                                  class="shirtnetwork-sync-list-items-grid__data-grid">
                        <template #column-active="{ item }">
                            <sw-icon
                                    v-if="item.active"
                                    name="regular-checkmark-xs"
                                    small
                                    class="is--active"
                            />
                            <sw-icon
                                    v-else
                                    name="regular-times-s"
                                    small
                                    class="is--inactive"
                            />
                        </template>
                        <template #bulk>
                            <a class="link link-danger" @click="showBulkSyncModal = true">
                                {{ $tc('shirtnetwork-sync.list.bulkSyncProducts') }}
                            </a>
                        </template>
                        <template #bulk-modals>
                            <shirtnetwork-sync-modal :sales-channel-id="salesChannelId" :selection="selection" v-if="showBulkSyncModal" @modal-close="showBulkSyncModal = false" />
                        </template>
                        <template #pagination>
                            <sw-pagination :total="totalProducts" :limit="pagination.limit" :page="pagination.page" @page-change="paginationChange"></sw-pagination>
                        </template>
                    </sw-data-grid>
                    {% endblock %}



                    {% block shirtnetwork_sync_list_empty_state %}
                        <sw-empty-state v-if="!isLoading && !totalProducts" :show-description="false" :title="salesChannelId ? $tc('shirtnetwork-sync.list.messageEmpty') : $tc('shirtnetwork-sync.list.messageChooseSalesChannel')"></sw-empty-state>
                    {% endblock %}

                    {% block shirtnetwork_sync_list_grid_loader %}
                        <sw-loader v-if="isLoading"></sw-loader>
                    {% endblock %}
                </div>
            {% endblock %}
        </template>

        {% block shirtnetwork_sync_list_sidebar %}
            <template #sidebar>
                <sw-sidebar class="sw-order-list__sidebar">
                    {% block shirtnetwork_sync_list_sidebar_filter %}
                        <sw-sidebar-filter-panel
                                entity="shirtnetworkproduct"
                                :store-key="storeKey"
                                :filters="listFilters"
                                :defaults="defaultFilters"
                                :active-filter-number="activeFilterNumber"
                                @criteria-changed="updateFilter"
                        />
                    {% endblock %}
                </sw-sidebar>
            </template>
        {% endblock %}
    </sw-page>
{% endblock %}
