{% block sw_cms_element_designer_preview %}
    <div class="sw-cms-el-preview-designer">
        <img class="sw-cms-el-preview-designer-img"
             :src="'shirtnetworkplugin/static/img/background_designer_preview.png' | asset">
    </div>
{% endblock %}