{% block sw_cms_element_designer_preview %}
    <div class="sw-cms-el-preview-designer">
        <img class="sw-cms-el-preview-designer-img"
             :src="assetFilter('shirtnetworkplugin/static/img/background_designer_preview.png')">
    </div>
{% endblock %}