{% block sw_cms_element_designer_logo_listing_preview %}
<div class="sw-cms-el-preview-designer-logo-listing">
    <sw-cms-designer-logo-preview />
    <sw-cms-designer-logo-preview />
</div>
{% endblock %}
