{% block block_designer_button %}
    {% set columns = 1 %}
    {% set id = element.id %}

    {% block block_designer_button_content %}
        {% set element = block.slots.getSlot('content') %}
        {% if element.data.product and element.data.product.customFields.is_shirtnetwork %}
            <div class="col-md-12" data-cms-element-id="{{ id }}">
                {% block block_designer_button_content_inner %}
                    {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
                {% endblock %}
            </div>
        {% endif %}
    {% endblock %}

{% endblock %}